{% block header %}
    <script>
        function buyHealthPotion() {
            performAction('{{ constant('TemirkhanN\\Venture\\Game\\Action\\Shop\\BuyHealthPotion::ACTION_NAME') }}');
        }

        function enterDungeon() {
            performAction('{{ constant('TemirkhanN\\Venture\\Game\\Action\\Dungeon\\EnterDungeon::ACTION_NAME') }}');
        }

        function startCrafting() {
            performAction('{{ constant('TemirkhanN\\Venture\\Game\\Action\\Craft\\ToggleCraftMenu::ACTION_NAME') }}', {status: 'on'});
        }
    </script>
{% endblock %}
<table>
    <tr>
        <td>Actions</td>
    </tr>
    <tr>
        <td onclick="buyHealthPotion()">
            Buy health potion(-10gold/+5hp)
        </td>
    </tr>
    <tr>
        <td onclick="enterDungeon()">
            Step into the dungeon
        </td>
    </tr>
    <tr>
        <td onclick="startCrafting()">
            Start crafting
        </td>
    </tr>
</table>
