
{% block header %}
    <script>
        function attackEnemy() {
            performAction('{{ constant('TemirkhanN\\Venture\\Game\\Action\\Attack::ACTION_NAME') }}');
        }

        function nextTurn() {
            performAction('{{ constant('TemirkhanN\\Venture\\Game\\Action\\NextTurn::ACTION_NAME') }}');
        }

        function endBattle() {
            performAction('{{ constant('TemirkhanN\\Venture\\Game\\Action\\EndBattle::ACTION_NAME') }}');
        }
    </script>
{% endblock %}

{% if not battle.isOver %}
    {% if battle.doesCurrentTurnBelongToPlayer %}
        <button onclick="attackEnemy()">Attack</button><br/>
    {% else %}
        <button onclick="nextTurn()">Next turn</button><br/>
    {% endif %}

    <button onclick="endBattle()">Flee</button><br/>
{% else %}
    {% if battle.player.isAlive %}
        <button onclick="endBattle()">Receive rewards</button><br/>
    {% else %}
        <button onclick="endBattle()">Retreat!</button><br/>
    {% endif %}
{% endif %}
