<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if title is defined %}{{ title }}{% else %}Venture{% endif %}</title>

    <script>
        // Well, because we rewrite whole document body every time, global variables stay persistent and conflict
        if (typeof isLoading === 'undefined') {
            var isLoading = false;
        }

        function sendPost(data) {
            if (isLoading) {
                console.log('Page is still loading')
                return;
            }

            isLoading = true;

            fetch('/', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(async (response) => {
                document.open();
                document.write(await response.text());
                document.close();
                isLoading = false;
            })
        }

        function performAction(name, payload) {
            if (payload === undefined || payload === null) {
                payload = {};
            }

            payload.name = name;
            sendPost({action: payload})
        }
    </script>
    {% block header %}
    {% endblock %}
</head>
<body>
<div>
    {% block content %}{% endblock %}
</div>
</body>
</html>
