<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if title is defined %}{{ title }}{% else %}Venture{% endif %}</title>

    <script>
        function sendPost(data) {
            const formData = new FormData();

            for (const name in data) {
                formData.append(name, data[name]);
            }

            fetch('/', {
                method: 'POST',
                body: formData
            }).then(async (response) => {
                document.open();
                document.write(await response.text());
                document.close();
            })
        }
    </script>
    {% block header %}
    {% endblock %}
</head>
<body>
<div>
    {% block content %}{% endblock %}
</div>
</body>
</html>
