{% extends "main-template.html.twig" %}

{% block header %}
<script>
    function createPlayer() {
        const playerName = document.getElementById('player-name').value;
        if (playerName === '') {
            alert('Player name is empty');

            return;
        }

        sendPost({name: playerName});
    }
</script>
{% endblock %}

{% block content %}
    <div>
        <label>
            <input id="player-name" type="text" placeholder="Enter player name">
        </label>
        <br/><br/>
        <button onclick="createPlayer()">Create</button>
    </div>
{% endblock %}
